@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorphism {
    background: rgba(0, 0, 0, 0.5);
    /* Light background with transparency */
    backdrop-filter: blur(10px);
    /* Blurring the background */
    -webkit-backdrop-filter: blur(10px);
    /* For Safari support */
};